node_modules

# Next.js
.next/
out/

# Deployment / platform output
.vercel
.netlify
.wrangler

# Build output
build/
.output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Sentry Config File
.env.sentry-build-plugin
